



.heading {
    font-size: 140px;
    font-weight: 200;
    font-family: Helvetica neue;
    color: #b83f45;
    display: flex;
    align-items: center;
    height: 20%;
}

.display-footer{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:20%;
}

.card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.checking-button {
    padding: 10px;
    background-color: transparent;
    border:none;
    border-radius: 20px;
    height: 30px;
    width: 20%;
}



.content-input {
    width:100%;
    border: none;
    font-size: 24px;
    color: #4d4d4d;
    font-family: arial;
}

.items-left{
    font-size:12px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border-radius: 2px;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-right:30%;
}

.delete-button {
    border: none;
    border-radius: 24px;
    font-size: 14px;
    color: #777777;
    height:30px;
    width:20%;
}

.todos {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.foooter {
    width: 100%;
    display: none;
    justify-content: space-between;
    border: none;
}

.todoapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 70%;
}

.todo-input {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background-color: transparent;
    width: 90%;
    padding: 20px;
    font-size: 24px;
    color: #4d4d4d;
}

.result {
    font-family: arial;
    font-size: 12px;
    padding: 5px;
}

input::placeholder {
    font-family: times;
}

.edit {
    border: none;
    font-size: 24px;
}
















.all {

    border: none;

}

.active {

    border: none;

}

.completed {

    border: none;

}

.clear-completed {

    border: none;

}

/*.all:hover {*/

/*    border: 1px solid orange;*/

/*}*/

/*.active:hover {*/

/*    border: 1px solid blue;*/

/*}*/

/*.completed:hover {*/

/*    border: 1px solid green;*/

/*}*/

/*.clear-completed:hover {*/

/*    border: 1px solid black;*/

/*}*/
